<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trigger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Trigger.Properties.Settings>
            <setting name="LogNetworkEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogSystemEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadLoggingTasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogScreenEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogProcessesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPowerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDeviceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PluginsEnabled" serializeAs="String">
                <value />
            </setting>
        </Trigger.Properties.Settings>
    </userSettings>
</configuration>